<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Regla 1 importada">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 2 importada">
                    <match url="^news/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=news&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 3 importada">
                    <match url="^home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=home&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 4 importada">
                    <match url="^group/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=group&amp;g={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 5 importada">
                    <match url="^foro/categoria/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=categoria&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 6 importada">
                    <match url="^foro/categoria/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=tema&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 7 importada">
                    <match url="^foro/editar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=edit&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 8 importada">
                    <match url="^foro/borrar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=delete&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 9 importada">
                    <match url="^foro/reportar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=reportartema&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 10 importada">
                    <match url="^foro/editar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 11 importada">
                    <match url="^foro/borrar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=borrar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 12 importada">
                    <match url="^foro/nuevo/tema" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=nuevo" appendQueryString="false" />
                </rule>
                <rule name="Regla 13 importada">
                    <match url="^ajustes/email" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteemail" appendQueryString="false" />
                </rule>
                <rule name="Regla 14 importada">
                    <match url="^ajustes/password" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajustecontra" appendQueryString="false" />
                </rule>
                <rule name="Regla 15 importada">
                    <match url="^ajustes/foro" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteforo" appendQueryString="false" />
                </rule>
                <rule name="Regla 16 importada">
                    <match url="^staffs/alfas" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=alfas" appendQueryString="false" />
                </rule>
                <rule name="Regla 17 importada">
                    <match url="^habbo-imaging/avatarimage(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/avatar.php" />
                </rule>
                <rule name="Regla 18 importada">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 19 importada">
                    <match url="^habbo-imaging/head/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/user-badge/head.php" />
                </rule>
                <rule name="Regla 20 importada">
                    <match url="^register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 21 importada">
                    <match url="^registro/ref/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=registro&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 22 importada">
                    <match url="^newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 23 importada">
                    <match url="^camera/pictures/(.*)_small.png" ignoreCase="false" />
                    <action type="Rewrite" url="camera/pictures/{R:1}.png" />
                </rule>
                <rule name="Regla 24 importada">
                    <match url="^swf/c_images/notifications/fig/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/avatar.php?fig={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 25 importada">
                    <match url="^habbo-imaging/badge/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 26 importada">
                    <match url="^habbo-imaging/head/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/avatar.php?figure={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 27 importada">
                    <match url="^avatar-generator(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="nucleo/functions/add-ons/llamalook.php" />
                </rule>
                <rule name="Regla 19 importada-1">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 20 importada-1">
                    <match url="^news/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=news&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 21 importada-1">
                    <match url="^home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=home&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 22 importada-1">
                    <match url="^group/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=group&amp;g={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 23 importada-1">
                    <match url="^foro/categoria/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=categoria&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 24 importada-1">
                    <match url="^foro/categoria/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=tema&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 25 importada-1">
                    <match url="^foro/editar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=edit&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 26 importada-1">
                    <match url="^foro/borrar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=delete&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 27 importada-1">
                    <match url="^foro/reportar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=reportartema&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 28 importada">
                    <match url="^foro/editar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 29 importada">
                    <match url="^foro/borrar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=borrar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 30 importada">
                    <match url="^foro/nuevo/tema" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=nuevo" appendQueryString="false" />
                </rule>
                <rule name="Regla 31 importada">
                    <match url="^ajustes/email" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteemail" appendQueryString="false" />
                </rule>
                <rule name="Regla 32 importada">
                    <match url="^ajustes/password" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajustecontra" appendQueryString="false" />
                </rule>
                <rule name="Regla 33 importada">
                    <match url="^ajustes/foro" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteforo" appendQueryString="false" />
                </rule>
                <rule name="Regla 34 importada">
                    <match url="^staffs/alfas" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=alfas" appendQueryString="false" />
                </rule>
                <rule name="Regla 35 importada">
                    <match url="^habbo-imaging/avatarimage(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/avatar.php" />
                </rule>
                <rule name="Regla 36 importada">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 37 importada">
                    <match url="^habbo-imaging/head/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/user-badge/head.php" />
                </rule>
                <rule name="Regla 38 importada">
                    <match url="^register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 39 importada">
                    <match url="^registro/ref/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=registro&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 40 importada">
                    <match url="^newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 41 importada">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 42 importada">
                    <match url="^avatar-generator(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="nucleo/functions/add-ons/llamalook.php" />
                </rule>
                <rule name="Regla 43 importada">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 44 importada">
                    <match url="^news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editnews&amp;news={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 45 importada">
                    <match url="^news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=news&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 46 importada">
                    <match url="^bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=bans&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 47 importada">
                    <match url="^report/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=report&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 48 importada">
                    <match url="^badges/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=badges&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 49 importada">
                    <match url="^gebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=gebruiker&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 50 importada">
                    <match url="^gebrank/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=gebrank&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 51 importada">
                    <match url="^giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=giveuseroftheweek&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 52 importada">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 53 importada">
                    <match url="^news/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=news&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 54 importada">
                    <match url="^home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=home&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 55 importada">
                    <match url="^group/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=group&amp;g={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 56 importada">
                    <match url="^foro/categoria/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=categoria&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 57 importada">
                    <match url="^foro/categoria/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=tema&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 58 importada">
                    <match url="^foro/editar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=edit&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 59 importada">
                    <match url="^foro/borrar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=delete&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 60 importada">
                    <match url="^foro/reportar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=reportartema&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 61 importada">
                    <match url="^foro/editar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 62 importada">
                    <match url="^foro/borrar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=borrar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 63 importada">
                    <match url="^foro/nuevo/tema" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=nuevo" appendQueryString="false" />
                </rule>
                <rule name="Regla 64 importada">
                    <match url="^ajustes/email" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteemail" appendQueryString="false" />
                </rule>
                <rule name="Regla 65 importada">
                    <match url="^ajustes/password" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajustecontra" appendQueryString="false" />
                </rule>
                <rule name="Regla 66 importada">
                    <match url="^ajustes/foro" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteforo" appendQueryString="false" />
                </rule>
                <rule name="Regla 67 importada">
                    <match url="^staffs/alfas" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=alfas" appendQueryString="false" />
                </rule>
                <rule name="Regla 68 importada">
                    <match url="^habbo-imaging/avatarimage(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/avatar.php" />
                </rule>
                <rule name="Regla 69 importada">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 70 importada">
                    <match url="^habbo-imaging/head/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/user-badge/head.php" />
                </rule>
                <rule name="Regla 71 importada">
                    <match url="^register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 72 importada">
                    <match url="^registro/ref/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=registro&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 73 importada">
                    <match url="^newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 74 importada">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 75 importada">
                    <match url="^avatar-generator(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="nucleo/functions/add-ons/llamalook.php" />
                </rule>
                <rule name="Regla 1 importada-1">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 2 importada-1">
                    <match url="^news/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=news&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 3 importada-1">
                    <match url="^home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=home&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 4 importada-1">
                    <match url="^group/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=group&amp;g={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 5 importada-1">
                    <match url="^foro/categoria/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=categoria&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 6 importada-1">
                    <match url="^foro/categoria/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=tema&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 7 importada-1">
                    <match url="^foro/editar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=edit&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 8 importada-1">
                    <match url="^foro/borrar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=delete&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 9 importada-1">
                    <match url="^foro/reportar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=reportartema&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 10 importada-1">
                    <match url="^foro/editar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 11 importada-1">
                    <match url="^foro/borrar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=borrar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 12 importada-1">
                    <match url="^foro/nuevo/tema" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=nuevo" appendQueryString="false" />
                </rule>
                <rule name="Regla 13 importada-1">
                    <match url="^ajustes/email" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteemail" appendQueryString="false" />
                </rule>
                <rule name="Regla 14 importada-1">
                    <match url="^ajustes/password" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajustecontra" appendQueryString="false" />
                </rule>
                <rule name="Regla 15 importada-1">
                    <match url="^ajustes/foro" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteforo" appendQueryString="false" />
                </rule>
                <rule name="Regla 16 importada-1">
                    <match url="^staffs/alfas" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=alfas" appendQueryString="false" />
                </rule>
                <rule name="Regla 17 importada-1">
                    <match url="^room/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=client&amp;roomId={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 18 importada-1">
                    <match url="^habbo-imaging/avatarimage(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/avatar.php" />
                </rule>
                <rule name="Regla 19 importada-2">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 20 importada-2">
                    <match url="^habbo-imaging/head/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/user-badge/head.php" />
                </rule>
                <rule name="Regla 21 importada-2">
                    <match url="^register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 22 importada-2">
                    <match url="^registro/ref/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=registro&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 23 importada-2">
                    <match url="^newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 24 importada-2">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 25 importada-2">
                    <match url="^avatar-generator(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="nucleo/functions/add-ons/llamalook.php" />
                </rule>
                <rule name="Regla 26 importada-2">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 27 importada-2">
                    <match url="^news/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=news&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 28 importada-1">
                    <match url="^home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=home&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 29 importada-1">
                    <match url="^group/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=group&amp;g={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 30 importada-1">
                    <match url="^foro/categoria/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=categoria&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 31 importada-1">
                    <match url="^foro/categoria/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=tema&amp;link={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 32 importada-1">
                    <match url="^foro/editar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=edit&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 33 importada-1">
                    <match url="^foro/borrar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=delete&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 34 importada-1">
                    <match url="^foro/reportar/tema/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=reportartema&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 35 importada-1">
                    <match url="^foro/editar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 36 importada-1">
                    <match url="^foro/borrar/respuesta/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=borrar&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 37 importada-1">
                    <match url="^foro/nuevo/tema" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=nuevo" appendQueryString="false" />
                </rule>
                <rule name="Regla 38 importada-1">
                    <match url="^ajustes/email" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteemail" appendQueryString="false" />
                </rule>
                <rule name="Regla 39 importada-1">
                    <match url="^ajustes/password" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajustecontra" appendQueryString="false" />
                </rule>
                <rule name="Regla 40 importada-1">
                    <match url="^ajustes/foro" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=ajusteforo" appendQueryString="false" />
                </rule>
                <rule name="Regla 41 importada-1">
                    <match url="^staffs/alfas" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=alfas" appendQueryString="false" />
                </rule>
                <rule name="Regla 42 importada-1">
                    <match url="^client/room/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=client&amp;roomId={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 43 importada-1">
                    <match url="^habbo-imaging/avatarimage(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/avatar.php" />
                </rule>
                <rule name="Regla 44 importada-1">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 45 importada-1">
                    <match url="^habbo-imaging/head/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habbo-imaging/user-badge/head.php" />
                </rule>
                <rule name="Regla 46 importada-1">
                    <match url="^register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 47 importada-1">
                    <match url="^registro/ref/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=registro&amp;userref={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 48 importada-1">
                    <match url="^newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 49 importada-1">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 50 importada-1">
                    <match url="^avatar-generator(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="nucleo/functions/add-ons/llamalook.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
