<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Regla 19 importada-3">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 20 importada-3">
                    <match url="^news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=editnews&amp;news={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 21 importada-3">
                    <match url="^news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=news&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 22 importada-3">
                    <match url="^bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=bans&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 23 importada-3">
                    <match url="^report/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=report&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 24 importada-3">
                    <match url="^badges/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=badges&amp;delete={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 25 importada-3">
                    <match url="^user/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=useredit&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 26 importada-3">
                    <match url="^user/rank/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=user-rank&amp;user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 27 importada-3">
                    <match url="^user/week/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url=userweek&amp;user={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
